# Dependencies
/node_modules

# Build directory
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript build info (tsc --build)
*.tsbuildinfo
tsconfig.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*